* {
    font-family: Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #020000;
    margin: 0;
}

header,
footer {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: left;
    background-color: #080444;
}

footer {
    margin-top: auto;
    justify-content: center;
}

.logo {
    display: block;
    width: 10%;
}

.title {
    text-decoration: none;
}

img {
    width: 100%;
}

h1, footer > p {
    color: #e9ff0c;
}

main {
    display: flex;
    justify-content: center;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.link {
    width: fit-content;
    margin: 0 auto;
    margin-top: 3rem;
}

a {
    color: #e9ff0c;
}

a:hover {
    color: darkorange;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

label, input, textarea, button {
    margin-top: 1rem;
}

button {
    background-color: #080444;
    border-color: #e9ff0c;
    color: #e9ff0c;
    padding: 0.5rem
}

button:hover {
    background-color: black;
    cursor: pointer;
}